.header {
    display: flex;
          width: 100vw;
          height: 460px;
          position: absolute;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: gray;z-index: 1;
}
.search_btn{
    width: 48px;
     height: 45px !important;
              position: relative !important;
              right: 80px;
              top: 7px;
              display: flex !important;
              justify-content: center;
              align-items: center;
}
.services-container {
    width: 80vw;
    height: 120px;
    background-color: white;
    position: relative;
    top: 115px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.single-service{
    width: 12vw;
    height: 120px;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    text-decoration: none;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
.single-service:hover{
    background-color: rgba(128, 128, 128, 0.144);
    text-decoration: none;
}

.recommended-service{
    position: relative;
    top: 550px;
    z-index: 10;
}
.recommended-service h2{
    margin: 30px 0 30px 20px;
    
}
.recommended-service-cards{
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
}
.recommended-service-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recommended-service-card h4{
   text-align: center;
   color: rgba(0, 0, 0, 0.75);
   
}